* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    padding-top: 5em;
}

.top-menu {
    display: flex;
    justify-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    width: 100%;
    background-color: #fbfbfb;
    border-bottom: 3px solid #da5f4c;
    height: 5em;
}

#brand-name-header{
    font-size: 4em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #da5f4c;
    text-decoration: none;
    margin-left: 1em;
}

#gabagool-logo-header{
    width: 6em;
    height: 6em;
    margin-left: 1em;
}

#gabagool-logo-main{
    width: 12em;
    height: 12em;
}

#brand-name-main{
    font-size: 5em;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: #da5f4c;
    text-decoration: none;
}

.content_body_line{
    margin-top: 1em;
}

.main-display{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    height: 32.5em;
    padding-bottom: 1em;
}

#main-display-description-text{
    font-size: 2em;
    font-weight:200;
    font-family: 'Roboto', sans-serif;
    color: #da5f4c;
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
}

#content-info-wrapper-1{
    background-color: #f8f9fa;
}

#content-info-wrapper-2{
    background-color: #ffffff;
}

#content-info-wrapper-3{
    background-color: #f8f9fa;
}
.content-info-wrapper{
    display: flex;

    flex-direction: column;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    width: 100%;
    background-color: #f8f9fa;
    height: 150%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.content-info-header{
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #da5f4c;
}

.content-info-body{
    padding-left: 2.5%;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    color: #495057;
}

.link--os{
    color: #da5f4c;
}

#button--download{
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    width: 100%;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    margin-top: 1em;

    background-color: #ffffff;

    font-size: 2.5em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #da5f4c;
    text-decoration: none;
    border: 2px solid #da5f4c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#page-container {
    position: relative;
    height: 100%
}

#content-wrap {
    padding-bottom: 5em;    /* Footer height */
}
  
footer {
    position: absolute;
    background-color: #212529;
    bottom: 0;
    width: 100%;
    height: 5em;            /* Footer height */
}

@media only screen and (max-width: 650px) {
    .content-info-wrapper{
        padding-left: 25px;
        padding-right: 25px;
    }

    .top-menu{
        justify-content: center;
    }
    #gabagool-logo-header{
        width: 100px;
        height: 100px;
        margin-left: 0;
    }
}